@model IEnumerable<atvCarros0609.Veiculos>

@{
    ViewData["Title"] = "Veículos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Adicionar novo veículo</a>
</p>

<table class="table table-striped">
    <thead class="table-dark align-content-center">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.proprietario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.corVe)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modeloVe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.proprietario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.corVe)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modeloVe)
            </td>
            <td>
                <a class="btn" style="background-color:darkgrey; color: black" asp-action="Edit" asp-route-id="@item.veiculosId">Editar</a> |
                <a class="btn" style="background-color:darkgreen; color: white" asp-action="Details" asp-route-id="@item.veiculosId">Detalhes</a> |
                <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.veiculosId">Excluir</a>
            </td>
        </tr>
}
    </tbody>
</table>
